{% extends 'base.html' %}


{% block title %} {{topic}} List{% endblock %}

{% block content %}

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{topic}} Terms <small>({{terms_count}})</small></h1>
                    </div>


                    <div class="row">

                        <!-- Listed Company Card -->
                        {% for term in terms %}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                <a href="{{ term.get_absolute_url }}">{{ term.word }}</a>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ term.word }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                            <h4 class="font-weight-bold mt-4 text ml-2 text-center">No Term Added...</h4>
                        {% endfor %}

                    </div>


                </div>
                <!-- /.container-fluid -->

{% endblock %}