{% extends 'base.html' %}

{% block title %} All Countries {% endblock %}

{% block content %}

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Countries ({{ country_count }})</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fa-sm text-white-50"></i>Companies Summary</a> -->
                    </div>


                    <div class="row">

                        <!-- Listed Company Card -->
                        {% for country in countries %}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                <a href="{% url 'country' country.slug%}">{{ country.code }}</a>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ country.name }}</div>
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                <p>{{ country.currency }}({{ country.currency_code }})</p>
                                                <p>{{country.time_zone}}</p>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <img src="{{ country.flag.url }}" alt="" height="100" width="120">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>


                </div>
                <!-- /.container-fluid -->

{% endblock %}