{% load static %}
{% load mathfilters %}
{% load humanize %}

<div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Components</h6>
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-tabs" id="myComponents" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link active" id="price-tab" data-toggle="tab" href="#price" role="tab" aria-controls="price" aria-selected="true">Price</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="Performance-tab" data-toggle="tab" href="#Performance" role="tab" aria-controls="Performance" aria-selected="false">Performance</a>
                                      </li>
                                        <li class="nav-item">
                                        <a class="nav-link" id="technicals-tab" data-toggle="tab" href="#technicals" role="tab" aria-controls="technicals" aria-selected="false">Technical</a>
                                      </li>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" id="fundamentals-tab" data-toggle="tab" href="#fundamentals" role="tab" aria-controls="fundamentals" aria-selected="false">Fundamental</a>
                                      </li>
                                    </ul>
                                    <div class="tab-content" id="myComponentsContent">
                                      <div class="tab-pane fade show active pt-2" id="price" role="tabpanel" aria-labelledby="price-tab">
                                          <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Company</th>
                                                                <th>Price (GHS)</th>
                                                                <th>Volume</th>
                                                                <th>Traded value</th>
                                                                <th>Change</th>
                                                                <th>Change (%)</th>
                                                            </tr>
                                                        </thead>
                                                          {% for company in sp %}
                                                            <tr>
                                                                <td><a href="{{ company.company.get_absolute_url }}">{{ company.company.name }}</a></td>
                                                                <td>{{company.price}}</td>
                                                                <td>{{company.volume}}</td>
                                                                <td>{{company.volume|mul:company.price}}</td>
                                                                <td class="value">{{company.diff}}</td>
                                                                <td class="value">{{company.diff|div:company.prev_val|mul:100|floatformat:2}}</td>
                                                            </tr>
                                                          {% endfor %}
                                                      </table>
                                      </div>
                                      <div class="tab-pane fade pt-2" id="Performance" role="tabpanel" aria-labelledby="Performance-tab">
                                          <table class="table table-striped table-bordered" id="example2">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Daily</th>
                                                                <th>Weekly</th>
                                                                <th>1 Month (%)</th>
                                                                <th>YTD (%)</th>
                                                                <th>1 Year (%)</th>
                                                                <th>3 Years (%)</th>
                                                                <th>5 Years (%)</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            {% for company in sp %}
                                                            <tr>
                                                                <td title="{{company.company.name}}"><a href="{{ company.company.get_absolute_url }}">{{company.company.name}}</a></td>
                                                                <td class="value">{{company.diff|div:company.prev_val|mul:100|floatformat:2}}</td>
                                                                <td class="value">{{company.price|sub:company.prev_wk_val|div:company.prev_wk_val|mul:100|floatformat:2}}</td>
                                                                <td class="value">{{company.price|sub:company.prev_mothn_val|div:company.prev_mothn_val|mul:100|floatformat:2}}</td>
                                                                <td class="value">{{company.price|sub:company.ytd_val|div:company.ytd_val|mul:100|floatformat:2}}</td>
                                                                <td class="value">{{company.price|sub:company.one_yr_val|div:company.one_yr_val|mul:100|floatformat:2}}</td>
                                                                <td class="value">{{company.price|sub:company.three_yr_val|div:company.three_yr_val|mul:100|floatformat:2}}</td>
                                                                <td class="value">{{company.price|sub:company.five_yr_val|div:company.five_yr_val|mul:100|floatformat:2}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                      </table>
                                      </div>
                                        <div class="tab-pane fade pt-2" id="technicals" role="tabpanel" aria-labelledby="technicals-tab">
                                            <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>MA 20</th>
                                                                <th>MA 50</th>
                                                                <th>MA 100</th>
                                                                <th>MA 200</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            {% for company in companies %}
                                                            <tr>
                                                                <td><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            {% empty %}
                                                                No Company added yet
                                                            {% endfor %}
                                                        </tbody>
                                                      </table>
                                      </div>
                                        <div class="tab-pane fade pt-2" id="fundamentals" role="tabpanel" aria-labelledby="fundamentals-tab">
                                            <table class="table table-striped table-bordered"  id="example">
                                                        <thead>
                                                            <tr>
                                                                <th>Company Name</th>
                                                                <th>Revenue (mil)</th>
                                                                <th>Issued Shares (mil)</th>
                                                                <th>Market Cap. GH(¢) mil</th>
                                                                <th>Div Prev. Year</th>
                                                                <th>Div Yield(%)</th>
                                                                <th>EPS GH(¢)</th>
                                                                <th>P/E Ratio</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            {% for company in data %}
                                                            <tr>
                                                                <td><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></td>
                                                                <td>{{company.statement.first.total_operating_revenue|div:1000000|floatformat:2}}</td>
                                                                <td>{{company.share_details.first.issued_shares|div:1000000|floatformat:2|intcomma}}</td>
                                                                <td class="mkt-cap-values">{% if company.share_details.first.issued_shares %}{{company.share_price.first.price|mul:company.share_details.first.issued_shares|div:1000000|floatformat:2}} {% else %} - {% endif %}</td>
                                                                <td>{% if company.dividend.first %}{{company.dividend.first.final_dividend|floatformat:2}} {% else %} 0.00 {% endif %}</td>
                                                                <td>{% if company.dividend.first %}{{company.dividend.first.final_dividend|div:company.share_price.first.price|mul:100|floatformat:2}} {% else %} 0.00 {% endif %}</td>
                                                                <td class="value">{% if company.statement.first %}{{company.statement.first.net_profit_loss|div:company.share_details.first.issued_shares|floatformat:2}}{% else %} 0.00 {% endif %}</td>
                                                                <td class="value">{% if company.statement.first %}{{company.share_price.first.price|mul:company.share_details.first.issued_shares|div:company.statement.first.net_profit_loss|floatformat:2}}{% else %} 0.00 {% endif %}</td>
                                                            </tr>
                                                            {% empty %}
                                                                No Company added yet
                                                            {% endfor %}
                                                        </tbody>
                                                      </table>
                                      </div>
                                    </div>

                                </div>
                            </div>