{% extends 'base.html' %}
{% load mathfilters %}
{% load humanize %}
{% load static %}

{% block title %} {{ country.name }} {% endblock %}

{% block content %}

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{ country.name }} ({{ country.code }})</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Latest Report</a>
                    </div>

                   <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-6">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ country.isin }}</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                {{ country.name }}
                                            </div>
                                            <div class="h6 mb-0 font-weight-light text-gray-800">
                                                <strong>{{ country.continent }}</strong>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <img src="{{ country.flag.url }}" alt="" height="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br>

                    <div class="row">

                        <div class="col-lg-8">

                            <!-- Default Card Example -->
                            <div class="card mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">{{ country.name }} Summary</h6>
                                </div>
                                <div class="card-body text text-center">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Stock Market</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Indices</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Major Companies</a>
                                      </li>
                                        <li class="nav-item">
                                        <a class="nav-link" id="technical-tab" data-toggle="tab" href="#technical" role="tab" aria-controls="contact" aria-selected="false">Bonds</a>
                                      </li>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" id="analysis-tab" data-toggle="tab" href="#analysis" role="tab" aria-controls="contact" aria-selected="false">Major Banks</a>
                                      </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                      <div class="tab-pane fade show active pt-5" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <p>{{ country.summary }}</p>
                                      </div>
                                      <div class="tab-pane fade pt-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                          {% for index in page_obj %}
                                            <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card border-left-primary shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                <a href="{% url 'index_detail' index.id %}">{{ index.symbol }}</a>
                                                            </div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ index.name }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            {% endfor %}
                                        </div>
                                      </div>
                                      <div class="tab-pane fade pt-5" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        {% if companies %}
                                            <div class="row">
                                                {% for company in companies %}
                                                    <div class="col-xl-4 col-md-6 mb-4">
                                                        <div class="card border-left-primary shadow h-100 py-2">
                                                            <div class="card-body">
                                                                <div class="row no-gutters align-items-center">
                                                                    <div class="col mr-2">
                                                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                            <a href="{{ company.get_absolute_url }}">{{ company.company_id }} - ISIN {{ company.isin }}</a>
                                                                        </div>
                                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ company.company_id }}</div>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <img src="{{ company.logo.url }}" alt="" height="60">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% empty %}
                                                    No company listed here
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            No company added fro this country
                                        {% endif %}
                                      </div>
                                        <div class="tab-pane fade pt-5" id="technical" role="tabpanel" aria-labelledby="technical-tab">

                                      </div>
                                        <div class="tab-pane fade pt-5" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
                                            {% if banks %}
                                            <div class="row">
                                                {% for company in banks %}
                                                    <div class="col-xl-4 col-md-6 mb-4">
                                                            <div class="card border-left-primary shadow h-100 py-2">
                                                                <div class="card-body">
                                                                    <div class="row no-gutters align-items-center">
                                                                        <div class="col mr-2">
                                                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                                <a href="{{ company.get_absolute_url }}">{{ company.company_id }} - ISIN {{ company.isin }}</a>
                                                                            </div>
                                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ company.company_id }}</div>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                            <img src="{{ company.logo.url }}" alt="" height="60">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            No company added fro this country
                                        {% endif %}
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                                </div>
                                <div class="card-body">
                                    The styling for this basic card example is created by using default Bootstrap
                                    utility classes. By using utility classes, the style of the card component can be
                                    easily modified with no need for any custom CSS!
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'news_list' %}">Latest News</a></h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="row pb-2">
                                        {% for new in news %}
                                        <div class="col-lg-6 mb-12">
                                            <div class="card shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                                {{ new.author}} </div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ new.title}}</div>
                                                            <p>{{ new.details|truncatewords:20|linebreaks }}</p>
                                                            <a href="{{ new.get_absolute_url }}" class="btn btn-primary">Read More</a>
                                                            <p><i class="fas fa-calendar-day"></i> {{ new.date_posted|naturaltime }} </p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <img src="{{ new.picture.url }}" alt="" height="35">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <h4 class="pt-4">Older News <img src="{% static 'img/old_news.png' %}" alt="" height="50"></h4>
                                    <div class="row">
                                        {% for new in older_news %}
                                            <div class="col-lg-3 mb-6">
                                            <div class="card shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                                {{ new.author}} </div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ new.title}}</div>
                                                            <p>{{ new.details|truncatewords:10|linebreaks}}</p>
                                                            <a href="{{ new.get_absolute_url }}" class="btn btn-primary">Read More</a>
                                                            <p><i class="fas fa-calendar-day"></i> {{ new.date_posted|naturaltime }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Major Exports</h6>
                                </div>
                                <div class="card-body">
                                    {% for export in exports.export.name.all %}
                                        <li>{{ export }}</li>
                                    {% empty %}
                                        No exports added yet
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">President</h6>
                                </div>
                                <div class="card-body">
                                    {% for people in president %}
                                        <li>{{ people.name }} -
                                            {{ people.elected_date }}  
                                        </li>
                                    {% empty %}
                                        No President listed here
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4">

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Basic Info.</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="basicInfo"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="basicInfo">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <p><strong>Area Size (km²):</strong> {{ country.area_size|intcomma }}</p>
                                    <p><strong>Population ({{population.year}}):</strong> {{ population.population|div:1000000|floatformat:2 }}million</p>
                                    <p><strong>Continent:</strong> {{ country.continent }}</p>
                                    <p><strong>Currency:</strong> {{ country.currency }} ({{ country.currency_code }})</p>
                                    <p><strong>Dialing Code:</strong> {{ country.dialing_code }}</p>
                                    <p><strong>Capital:</strong> {{ country.capital }}</p>
                                    <p><strong>Time Zone:</strong> {{ country.time_zone }}</p>
                                </div>
                            </div>

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Latest Press Releases</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Press Releases:</div>
                                            <a class="dropdown-item" href="">All Press Releases</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="text">
                                        {% for press in release %}
                                            <p><img src="{% static 'img/pdf.png' %}" alt="" height="30"><a href="{{ press.file.url }}" target="_blank"> {{ press.title }} </a><i class="fas fa-download"></i></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Exchange Rates</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Exchange Rate:</div>
                                            <a class="dropdown-item" href="">All Exchange Rates</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="text">
                                        {% for press in release %}
                                            <p><img src="{% static 'img/pdf.png' %}" alt="" height="30"><a href="{{ press.file.url }}" target="_blank"> {{ press.title }} </a><i class="fas fa-download"></i></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapse3" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-primary">Bourse</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapse3">
                                    <div class="card-body">

                                    {% for bourse in exchange %}
                                        <p><strong>Name:</strong> {{ bourse.name }}</p>
                                        <p><strong>Location:</strong> {{ bourse.location }} </p>
                                        <p><strong>Founded Year:</strong> {{ bourse.commenced_date }}</p>
                                    {% endfor %}

                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Base Rate</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% for rate in bank_rate %}
                                        <p><strong>Current Rate:</strong> {{ rate.rate }}%</p>
                                        <p><strong>Previous Rate:</strong> {{ rate.rate }}%</p>
                                        <p><strong>Next Meeting Date:</strong> {{ rate.next_meeting_date }}</p>
                                        {% if rate.file %}
                                        <p><strong>File : </strong><img src="{% static 'img/pdf.png' %}" alt="" height="30"><a href="{{ rate.realeased_file.url }}" target="_blank"> Released File </a><i class="fas fa-download"></i></p>
                                        {% endif %}
                                    {% empty %}
                                        <p><strong>Bank Rate Not Added Yet</strong></p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Unemployment Rate</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% for value in unemployment %}
                                        <p><strong>Unemployment Rate:</strong> {{ value.value }}%</p>
                                    {% empty %}
                                        <p><strong>Unemployment Rate Not Added Yet</strong></p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">GDP million {% for value in gdp %}
                                        [{{ value.date|date:"Y" }}]
                                    {% endfor %}</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% for value in gdp %}
                                        <p><strong>GDP (USD):</strong> {{ value.value }}</p>
                                    {% empty %}
                                        <p><strong>GDP Not Added Yet</strong></p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Central Bank </h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% for cb in central_bank %}
                                        <p><strong>Name:</strong> {{ cb.name }}</p>
                                        <p><strong>Governor:</strong> {{ cb.governor}}</p>
                                        <p><strong> Dep. Governor:</strong> {{ cb.dep_governor }}</p>
                                        <p><strong>Website:</strong> {{ cb.url }}</p>
                                    {% empty %}
                                        <p><strong>Central Bank Not Added Yet</strong></p>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

{% endblock %}
{% block script %}
<!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}