{% extends 'base.html' %}
{% load mathfilters %}
{% load humanize %}
{% load static %}

{% block title %} {{ indices.symbol }}  {% endblock %}

{% block content %}

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{ indices.name }} ({{ indices.symbol }})</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Latest Report</a>
                    </div>

                   <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-6">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ indices.name }}</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                {{ indices.symbol }}
                                            </div>
                                            <div class="h6 mb-0 font-weight-light text-gray-800">
                                                <strong> {{ point.value }}</strong>
                                                 <small class="value">{{ci.value|sub:ci_previous.value}}</small> (<small class="value">{{ci.value|sub:ci_previous.value|div:ci_previous.value|mul:100|floatformat:2}}%</small>)
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <img src="{{ indices.country.flag.url }}" alt="" height="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br>

                    <div class="row">

                        <div class="col-lg-8">

                            <!-- Default Card Example -->
                            <div class="card mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">{{ indices.symbol }} Summary</h6>
                                </div>
                                <div class="card-body text text-center">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Chart</a>
                                      </li>
                                        <li class="nav-item">
                                        <a class="nav-link" id="technical-tab" data-toggle="tab" href="#technical" role="tab" aria-controls="contact" aria-selected="false">Technical</a>
                                      </li>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" id="analysis-tab" data-toggle="tab" href="#analysis" role="tab" aria-controls="contact" aria-selected="false">Analysis</a>
                                      </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                      <div class="tab-pane fade show active pt-2" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <p>{{ company.summary }}</p>
                                      </div>
                                      <div class="tab-pane fade pt-2" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                                      </div>
                                        <div class="tab-pane fade pt-2" id="technical" role="tabpanel" aria-labelledby="technical-tab">

                                      </div>
                                        <div class="tab-pane fade pt-2" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">

                                      </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">{{ indices.name }}'s Details</h6>
                                </div>
                                <div class="card-body">
                                    {% if indices.details %}
                                        {{ indices.details }}
                                    {% else %}
                                        No detail added yet
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Components</h6>
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-tabs" id="myComponents" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link active" id="price-tab" data-toggle="tab" href="#price" role="tab" aria-controls="price" aria-selected="true">Price</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="Performance-tab" data-toggle="tab" href="#Performance" role="tab" aria-controls="Performance" aria-selected="false">Performance</a>
                                      </li>
                                        <li class="nav-item">
                                        <a class="nav-link" id="technicals-tab" data-toggle="tab" href="#technicals" role="tab" aria-controls="technicals" aria-selected="false">Technical</a>
                                      </li>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" id="fundamentals-tab" data-toggle="tab" href="#fundamentals" role="tab" aria-controls="fundamentals" aria-selected="false">Fundamental</a>
                                      </li>
                                    </ul>
                                    <div class="tab-content" id="myComponentsContent">
                                      <div class="tab-pane fade show active pt-2" id="price" role="tabpanel" aria-labelledby="price-tab">
                                          <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Last</th>
                                                                <th>Open</th>
                                                                <th>Change</th>
                                                                <th>Change (%)</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            {% for company in companies %}
                                                            <tr>
                                                                <td><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            {% empty %}
                                                                No Company added yet
                                                            {% endfor %}
                                                        </tbody>
                                                      </table>
                                      </div>
                                      <div class="tab-pane fade pt-2" id="Performance" role="tabpanel" aria-labelledby="Performance-tab">
                                          <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Daily</th>
                                                                <th>Weekly</th>
                                                                <th>1 Month (%)</th>
                                                                <th>YTD (%)</th>
                                                                <th>1 Year (%)</th>
                                                                <th>3 Years (%)</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            {% for company in companies %}
                                                            <tr>
                                                                <td><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            {% empty %}
                                                                No Company added yet
                                                            {% endfor %}
                                                        </tbody>
                                                      </table>
                                      </div>
                                        <div class="tab-pane fade pt-2" id="technicals" role="tabpanel" aria-labelledby="technicals-tab">
                                            <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>MA 20</th>
                                                                <th>MA 50</th>
                                                                <th>MA 100</th>
                                                                <th>MA 200</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            {% for company in companies %}
                                                            <tr>
                                                                <td><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            {% empty %}
                                                                No Company added yet
                                                            {% endfor %}
                                                        </tbody>
                                                      </table>
                                      </div>
                                        <div class="tab-pane fade pt-2" id="fundamentals" role="tabpanel" aria-labelledby="fundamentals-tab">
                                            <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Avg. Vol. (3m)</th>
                                                                <th>Market Cap</th>
                                                                <th>Revenue</th>
                                                                <th>P/E</th>
                                                                <th>Beta</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            {% for company in companies %}
                                                            <tr>
                                                                <td><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            {% empty %}
                                                                No Company added yet
                                                            {% endfor %}
                                                        </tbody>
                                                      </table>
                                      </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4">

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Basic Info.</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="basicInfo"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="basicInfo">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <p><strong>Country:</strong><a href="{% url 'country' indices.country.slug %}"> {{ indices.country.name }}</a></p>
                                    <p><strong>Components:</strong> {{ index_components }}</p>
                                    <p><strong>Main Exchange:</strong> {{ indices.main_exchange }}</p>
                                    <p><strong>Time Zone:</strong> {{ indices.country.time_zone }}</p>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Value Summary</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="Value"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="Value">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <p><strong>Prev. Close:  {{ point.value }}</strong></p>
                                        <p><strong>Open:  {{ point.value }}</strong></p>
                                        <p><strong>Days Range:  {{ point.value }} -  {{ point.value }}</strong></p>
                                        <p><strong>52 wk Range Range: {{ low_52.value__min }} -  {{ high_52.value__max }}</strong></p>
                                </div>
                            </div>


                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">{{ indices.name }}'s Summary</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="Summary"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="Summary">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% if indices.summary %}
                                        {{ indices.summary }}
                                    {% else %}
                                        No detail added yet
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Press Releases</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="text">
                                        {% for press in release %}
                                            <p><img src="{% static 'img/pdf.png' %}" alt="" height="30"><a href="{{ press.file.url }}" target="_blank"> {{ press.title }} </a><i class="fas fa-download"></i></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <!-- Collapsable Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapse1" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-primary">{{ indices.symbol }} Price History</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapse1">
<!--                                    <div class="card-body">-->
<!--                                        <table>-->
<!--                                            {% for price in share_price %}-->
<!--                                                <li>{{ price.date }} - {{ price.price }}</li>-->
<!--                                            {% endfor %}-->
<!--                                        </table>-->
<!--                                    </div>-->

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="70%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Close</th>
                                                </tr>
                                            </thead>
<!--                                            <tfoot>-->
<!--                                                <tr>-->
<!--                                                    <th>Date</th>-->
<!--                                                    <th>Close</th>-->
<!--                                                    <th>Volume</th>-->
<!--                                                </tr>-->
<!--                                            </tfoot>-->
                                            <tbody>
                                            {% for point in points %}
                                                <tr>
                                                    <td>{{ point.date|date:"Y/m/d" }}</td>
                                                    <td>{{ point.value }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapse3" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-primary">Major Announcements</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapse3">
                                    <div class="card-body">
                                        This is a collapsable card example using Bootstrap's built in collapse
                                        functionality. <strong>Click on the card header</strong> to see the card body
                                        collapse and expand!
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Related Indices</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% for similar in similar_index %}
                                        <p><a href="{% url 'index_detail' similar.id %}">{{similar.name}} ({{similar}})</a></p>
                                    {% empty %}
                                        <p><strong>No similar index available</strong></p>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

{% endblock %}
{% block script %}
<!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}