{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} {{ news.title}}  {% endblock %}

{% block content %}

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
<!--                    <div class="d-sm-flex align-items-center justify-content-between mb-4">-->
<!--                        <h1 class="h3 mb-0 text-gray-800">{{ news.title }}</h1>-->
<!--                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i-->
<!--                                class="fas fa-download fa-sm text-white-50"></i> Latest Report</a>-->
<!--                    </div>-->

                   <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-6">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ news.author }}</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                {{ news.title }}
                                            </div>
                                            <div class="h6 mb-0 font-weight-light text-gray-800">
                                                <p><i class="fas fa-calendar-day"></i> {{ news.date_posted|naturaltime }} </p>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <img src="{{ news.picture.url }}" alt="" height="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br>

                    <div class="row">

                        <div class="col-lg-8">

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {{ news.details }}
                                </div>


                            </div>

                            <h4>Comments ({{ comments_counts }})</h4>

                            {% for comment in comments %}
                            <div class="card-body border-left-warning shadow">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                            {{ comment.author }} </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ comment.date|naturaltime }}</div>
                                        <p>{{ comment.body }}</p>

                                    </div>
                                    <div class="col-auto">
                                        <img src="{% static 'img/undraw_posting_photo.svg' %}" alt="" height="50">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <br>
                            <div class="card-body border-left-secondary shadow">
                                <form class="form-a" method="post" action="" role="form">
                                     {% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-auto">
                                      <label for="author">Your Name</label>
                                      {{ form.author }}
                                    </div>
                                    <div class="form-group col-auto">
                                      <label for="textMessage">Comment</label>
                                      {{ form.body }}
                                    </div>
                                  </div>
                                <br>
                                  <div>
                                    <button type="submit" class="btn btn-secondary" name="action">Post Comment</button>
                                  </div>
                              </form>
                            </div>

                        </div>

                        <div class="col-lg-4">

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Dropdown Card Example</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    Dropdown menus can be placed in the card header in order to extend the functionality
                                    of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis
                                    icon in the card header can be clicked on in order to toggle a dropdown menu.
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
                <!-- /.container-fluid -->

{% endblock %}
{% block script %}
<!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}