{% extends 'base.html' %}
{% load static %}

{% block title %} {{ registrar.name }}  {% endblock %}

{% block content %}

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{ registrar.name }}</h1>
                    </div>

                   <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-6">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ company.isin }}</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                {{ registrar.name }}
                                            </div>
                                            <div class="h6 mb-0 font-weight-light text-gray-800">
                                                {{ registrar.name }}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <img src="{{ registrar.logo.url }}" alt="" height="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br>

                    <div class="row">

                        <div class="col-lg-8">

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Nature of Business</h6>
                                </div>
                                <div class="card-body">
                                    The styling for this basic card example is created by using default Bootstrap
                                    utility classes. By using utility classes, the style of the card component can be
                                    easily modified with no need for any custom CSS!
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Key People</h6>
                                </div>
                                <div class="card-body">
                                    {% for people in key_people %}
                                        {{ people.name }}
                                        {{ people.position }}
                                    {% empty %}
                                        No person listed here
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Companies</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {% for company in companies %}
                                            <div class="col-xl-4 col-md-6 mb-4">
                                                <div class="card border-left-primary shadow h-100 py-2">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                    <a href="{{ company.get_absolute_url }}">{{ company.company_id }} - ISIN {{ company.isin }}</a>
                                                                </div>
                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ company.name }}</div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <img src="{{ company.logo.url }}" alt="" height="80">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% empty %}
                                            No company listed here
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4">

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Basic Info.</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="basicInfo"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="basicInfo">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <p><strong>Country:</strong> </p>
                                    <p><strong>Secretary:</strong></p>
                                    <p><strong>Registered Office:</strong> {{ auditor.address }}</p>
                                    <p><strong>Incorporate Date:</strong> </p>
                                </div>
                            </div>


                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapse2" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-primary">Share Statistics</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapse2">
                                    <div class="card-body">
                                        This is a collapsable card example using Bootstrap's built in collapse
                                        functionality. <strong>Click on the card header</strong> to see the card body
                                        collapse and expand!
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapse3" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-primary">Dividends & Splits</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapse3">
                                    <div class="card-body">
                                        This is a collapsable card example using Bootstrap's built in collapse
                                        functionality. <strong>Click on the card header</strong> to see the card body
                                        collapse and expand!
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Contact Information</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <p><strong>Email:</strong> {{ company.email }}</p>
                                    <p><strong>Website:</strong> {{ company.email }}</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

{% endblock %}
{% block script %}
<!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}