



<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>

    <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="/static/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
    <script src="/static/vendor/apexcharts/apexcharts.min.js"></script>

    <style>
    </style>
</head>
<body>
    <h1>Access Bank Ghana Plc Report as at <small>2023/05/05</small></h1>

    <div>
        <strong>GHS 4.00
            <small>
                
                
                <span style="font-weight: bold; color: blue"><i class="bx bxs-right-arrow-alt"></i>(0.00%)</span>
                
                
            </small>
        </strong>
    </div>

    <img src="./media/company/access_bank.png" alt="" height="100">

    <h1>Access Bank Ghana Plc Summary</h1>

    <h1>Profile</h1>
    <p>The Bank is authorised by Bank of Ghana to carry on the business of universal banking. The
Bank comprises a network of 48 branches, 4 agencies and Head Office as at the time of signing this account. The Bank is a subsidiary of Access Bank Plc, a company incorporated in the Federal Republic of Nigeria and licensed to undertake banking and related services.</p>

    <h1>Basic Info.</h1>
    <p><strong>Industry:</strong> <a href="/tag/Banking">Banking</a></p>
    <p><strong>Country:</strong> <a href="/international/country/Ghana">Ghana</a></p>
    <p><strong>Auditors:</strong> <a href="/auditor/2">Ernst &amp; Young</a></p>
    <p><strong>Secretary:</strong> Helen De Cardi Nelson</p>
    <p><strong>Registrar:</strong> Central Securities Depository (GH) Limited</p>
    <p><strong>Registered Office:</strong> Starlets &#x27;91 Road Opposite Accra Sports Stadium, Osu Accra</p>
    <p><strong>Incorporate Date:</strong> None</p>
    <p><strong>Employees:</strong> 0</p>

    <h1>Stock Price Summary</h1>
<p><strong>Previous Close: </strong>GHS 4.00</p>

                                            <p><strong>Volume:</strong> 0</p>
                                            <p><strong>Traded Value:</strong> GHS 0.00</p>
                                            <p><strong>Year Range:</strong> GHS 4.01 - GHS 2.29</p>
                                            <p><strong>Market Cap:</strong> GHS 695.79 million</p
                                            <p><strong>Shares Outstanding:</strong>  173,947,596</p>
<p><strong>Open:</strong> GHS 4.00</p>
                                            <p><strong>1-Yr Change:</strong>
                                                
                                                    <span class="change-down">GHS -0.01</span>
                                                
                                            </p>
                                            <p><strong>YTD(%):</strong>
                                                
                                                    <span class="change-down">-0.25</span>
                                                
                                            </p>
                                            <p><strong>EPS:</strong>
                                                
                                                    
                                                        <span class="change-down">-1.9439</span>
                                                    
                                                
                                            </p>
                                            <p><strong>Beta: 0.04</strong>
                                            <p><strong>Div (Yield)(%): 19.82</strong>


    <h1>Financial Summary</h1>
    <h2>Income Statement</h2>
    <table class="table table-striped table-bordered table-hover">
                                                        <tr>
                                                            <th></th>
                                                            <th>GHS</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Revenue (million)</td>
                                                            <td class="value">-113.28</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Revenue Per Share</td>
                                                            <td class="value">-0.65</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Revenue Growth (%)</td>
                                                            <td class="value">-115.57</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Gross Profit (million)</td>
                                                            <td class="value">-113.28</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Net Income (million)</td>
                                                            <td class="value">-338.14</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Diluted EPS</td>
                                                            <td class="value">-1.94</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Earning Growth  (%)</td>
                                                            <td class="value">-208.92</td>
                                                        </tr>
                                                    </table>

    <h2>Balance Sheet</h2>
    <table class="table table-striped table-bordered table-hover">
                                                        <tr>
                                                            <th></th>
                                                            <th>GHS</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Cash (million)</td>
                                                            <td class="value">3,084.82</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Cash Per Share</td>
                                                            <td class="value">17.73</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Debt (million)</td>
                                                            <td class="value">9,043.02</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Debt/ Equity</td>
                                                            <td class="value">8.92</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Current Ratio</td>
                                                            <td class="value">0.34</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Book Value Per Share</td>
                                                            <td class="value">5.83</td>
                                                        </tr>
                                                    </table>

    <h2>Cash Flow</h2>
    <table class="table table-striped table-bordered table-hover">
                                                        <tr>
                                                            <th></th>
                                                            <th>GHS</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Operating Cash Flow (million)</td>
                                                            <td class="value">2,731.55</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Levered Free Cash Flow (million)</td>
                                                            <td class="value">2,635.92</td>
                                                        </tr>
                                                    </table>

    <h2>Profitability</h2>
    <table class="table table-striped table-bordered table-hover">
                                                        <tr>
                                                            <th></th>
                                                            <th>%</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Profit Margin</td>
                                                            <td class="value">2.98</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Operating Margin</td>
                                                            <td class="value">3.89</td>
                                                        </tr>
                                                    </table>

    <h2>Valuations</h2>
    <table class="table table-striped table-bordered table-hover">
                                                        <tr>
                                                            <th></th>
                                                            <th>GHS</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Market Cap (million)</td>
                                                            <td>GHS 695.79</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Enterprise Value (million)</td>
                                                            <td class="value">GHS -2,389.03</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Trailing P/E </td>
                                                            <td class="value"> -1.94</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Price/Sales</td>
                                                            <td class="value">-6.14</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Price/Book</td>
                                                            <td class="value">0.69</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Enterprise Value/ Revenue</td>
                                                            <td class="value">21.09</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Enterprise Value/ EBITDA</td>
                                                            <td class="value">21.09</td>
                                                        </tr>
                                                    </table>


    <h1>Major Products / Services</h1>
    
        <p title="Simple retail banking">Retail Banking</p>
    


    <h1>Subsidiaries</h1>
    
        <p>Big Ticket Holdings Limited (100.00 %)</p>
    
        <p>Triumph Properties Limited (100.00 %)</p>
    

    <h1>Charts</h1>
    <h2>Share Price</h2>
    <div id="price_chart"></div>


                                                      <script>
                                                        const latest_trading_day = 'May 5, 2023';


                                                        const one_month = 'April 7, 2023';


                                                        const six_month = 'Nov. 4, 2022';


                                                        const one_year = 'May 6, 2022';

                                                        const share_price_first = 'Dec. 21, 2016';

                                                        const dates = [ Date.parse('May 5, 2023'), Date.parse('May 4, 2023'), Date.parse('May 3, 2023'), Date.parse('May 2, 2023'), Date.parse('April 28, 2023'), Date.parse('April 27, 2023'), Date.parse('April 26, 2023'), Date.parse('April 25, 2023'), Date.parse('April 21, 2023'), Date.parse('April 20, 2023'), Date.parse('April 19, 2023'), Date.parse('April 18, 2023'), Date.parse('April 17, 2023'), Date.parse('April 14, 2023'), Date.parse('April 13, 2023'), Date.parse('April 12, 2023'), Date.parse('April 11, 2023'),]


                                                        const prices = [ 4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00, ]

                                                        var data = dates.map(function(e, i){
                                                            return [e, prices[i]];
                                                        });

                                                        const series = {
                                                            "dataSeries": {
                                                              "dates": [ 'Fri May, 2023',  'Thu May, 2023',  'Wed May, 2023',  'Tue May, 2023',  'Fri Apr, 2023',  'Thu Apr, 2023',  'Wed Apr, 2023',  'Tue Apr, 2023',  'Fri Apr, 2023',  'Thu Apr, 2023',  'Wed Apr, 2023',  'Tue Apr, 2023',  'Mon Apr, 2023',  'Fri Apr, 2023',  'Thu Apr, 2023',  'Wed Apr, 2023',  'Tue Apr, 2023', ],
                                                              "prices": [ 4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00,  4.00, ]
                                                            }
                                                          }

                                                          var options = {
                                                          series: [{
                                                          name: "Share Price",
                                                          data: data
                                                        }],
                                                          chart: {
                                                          id: 'area-datetime',
                                                          type: 'area',
                                                          height: 350,
                                                          zoom: {
                                                            autoScaleYaxis: true
                                                          }
                                                        },
                                                        annotations: {
                                                          yaxis: [{
                                                            y: 30,
                                                            borderColor: '#999',
                                                            label: {
                                                              show: true,
                                                              style: {
                                                                color: "#fff",
                                                                background: '#00E396'
                                                              }
                                                            }
                                                          }],
                                                          xaxis: [{
                                                            x: new Date('Dec. 21, 2016').getTime(),
                                                            borderColor: '#999',
                                                            yAxisIndex: 0,
                                                            label: {
                                                              show: true,
                                                              style: {
                                                                color: "#fff",
                                                                background: '#775DD0'
                                                              }
                                                            }
                                                          }]
                                                        },
                                                        dataLabels: {
                                                          enabled: false
                                                        },
                                                        markers: {
                                                          size: 0,
                                                          style: 'hollow',
                                                        },
                                                        xaxis: {
                                                          type: 'datetime',
                                                          min: new Date('Dec. 21, 2016').getTime(),
                                                          tickAmount: 6,
                                                        },
                                                        tooltip: {
                                                          x: {
                                                            format: 'dd MMM yyyy',
                                                          }
                                                        },
                                                        fill: {
                                                          type: 'gradient',
                                                          gradient: {
                                                            shadeIntensity: 1,
                                                            opacityFrom: 0.7,
                                                            opacityTo: 0.9,
                                                            stops: [0, 100]
                                                          }
                                                        },
                                                        };

                                                        var price_chart = new ApexCharts(document.querySelector("#price_chart"), options);
                                                        price_chart.render();

                                                        var resetCssClasses = function(activeEl) {
                                                            var els = document.querySelectorAll('button')
                                                            Array.prototype.forEach.call(els, function(el) {
                                                              el.classList.remove('active')
                                                            })

                                                            activeEl.target.classList.add('active')
                                                          }

                                                          document.querySelector('#one_month').addEventListener('click', function(e) {
                                                              resetCssClasses(e)

                                                              price_chart.zoomX(
                                                                new Date(one_month).getTime(),
                                                                new Date(latest_trading_day).getTime()
                                                              )
                                                            })

                                                          document.querySelector('#six_months').addEventListener('click', function(e) {
                                                              resetCssClasses(e)

                                                              price_chart.zoomX(
                                                                new Date(six_month).getTime(),
                                                                new Date(latest_trading_day).getTime()
                                                              )
                                                            })

                                                          document.querySelector('#one_year').addEventListener('click', function(e) {
                                                              resetCssClasses(e)
                                                              price_chart.zoomX(
                                                                new Date(one_year).getTime(),
                                                                new Date(latest_trading_day).getTime()
                                                              )
                                                            })

                                                          document.querySelector('#ytd').addEventListener('click', function(e) {
                                                            resetCssClasses(e)

                                                            price_chart.zoomX(
                                                              new Date('2023-01-01').getTime(),
                                                              new Date(latest_trading_day).getTime()
                                                            )
                                                          })

                                                          document.querySelector('#all').addEventListener('click', function(e) {
                                                            resetCssClasses(e)

                                                            price_chart.zoomX(
                                                              new Date(share_price_first).getTime(),
                                                              new Date().getTime(),
                                                            )
                                                          });
                                                      </script>
                                                        <!-- End Area Chart -->

    <h2>Bar Chart</h2>
    <p>Share Price Candle for 5 years</p>

    <h2>Radar Chart</h2>
    <div id="radar"></div>
                                                        <script>
                                                            var options = {
                                                                  series: [{
                                                                  name: 'Net Income (Loss)',
                                                                  data: [ 310.45,  -338.135, ],
                                                                }, {
                                                                  name: 'Operating Cash Flow',
                                                                  data: [ -18.764,  2731.554, ],
                                                                }, {
                                                                  name: 'Revenue',
                                                                  data: [ 727.607,  -113.284, ],
                                                                }],
                                                                  chart: {
                                                                  height: 350,
                                                                  type: 'radar',
                                                                  dropShadow: {
                                                                    enabled: true,
                                                                    blur: 1,
                                                                    left: 1,
                                                                    top: 1
                                                                  }
                                                                },
                                                                title: {
                                                                  text: 'Radar Chart - Financial Statement Summary'
                                                                },
                                                                stroke: {
                                                                  width: 2
                                                                },
                                                                fill: {
                                                                  opacity: 0.1
                                                                },
                                                                markers: {
                                                                  size: 0
                                                                },
                                                                xaxis: {
                                                                  categories: [ 2021,  2022, ]
                                                                }
                                                                };

                                                                var chart = new ApexCharts(document.querySelector("#radar"), options);
                                                                chart.render();
                                                        </script>


    <h1>Key People</h1>
        
            <p>Chairman - Frank W. K. Beecham III  </p>
    
            <p>CEO - Olumide Olatunji  </p>
    
            <p>Chairman - Ms. Ama Sarpong Bawuah  </p>
    


    <h1>Stock Price History for the past month</h1>
    <table class="table table-bordered table-striped table-hover" id="dataTable" width="70%" cellspacing="0">
        <thead>
        <tr>
            <th>Date</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Traded Value</th>
        </tr>
        </thead>
        <tbody>
        
        <tr>
            <td>2023/05/05</td>
            <td>4.00</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/05/04</td>
            <td>4.00</td>
            <td>2</td>
            <td>8.00</td>
        </tr>
        
        <tr>
            <td>2023/05/03</td>
            <td>4.00</td>
            <td>2</td>
            <td>8.00</td>
        </tr>
        
        <tr>
            <td>2023/05/02</td>
            <td>4.00</td>
            <td>92</td>
            <td>368.00</td>
        </tr>
        
        <tr>
            <td>2023/04/28</td>
            <td>4.00</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/27</td>
            <td>4.00</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/26</td>
            <td>4.00</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/25</td>
            <td>4.00</td>
            <td>104</td>
            <td>416.00</td>
        </tr>
        
        <tr>
            <td>2023/04/21</td>
            <td>4.00</td>
            <td>79</td>
            <td>316.00</td>
        </tr>
        
        <tr>
            <td>2023/04/20</td>
            <td>4.00</td>
            <td>79</td>
            <td>316.00</td>
        </tr>
        
        <tr>
            <td>2023/04/19</td>
            <td>4.00</td>
            <td>5</td>
            <td>20.00</td>
        </tr>
        
        <tr>
            <td>2023/04/18</td>
            <td>4.00</td>
            <td>100</td>
            <td>400.00</td>
        </tr>
        
        <tr>
            <td>2023/04/17</td>
            <td>4.00</td>
            <td>7494</td>
            <td>29976.00</td>
        </tr>
        
        <tr>
            <td>2023/04/14</td>
            <td>4.00</td>
            <td>3</td>
            <td>12.00</td>
        </tr>
        
        <tr>
            <td>2023/04/13</td>
            <td>4.00</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/12</td>
            <td>4.00</td>
            <td>2</td>
            <td>8.00</td>
        </tr>
        
        <tr>
            <td>2023/04/11</td>
            <td>4.00</td>
            <td>2</td>
            <td>8.00</td>
        </tr>
        
        </tbody>
    </table>

    <h1>Share Listing Details</h1>
    
        <p><strong>Issued Shares:</strong> 173,947,596</p>
         <p><strong>Stated Capital:</strong> 118,280,000</p> 
         <p><strong>Listed Date:</strong> Dec. 21, 2016</p> 
         <p><strong>Financial Year Ends:</strong> 31st December</p> 
    

    <h1>Latest Dividend</h1>
    
    <p><strong>Final Dividend:</strong> GHS 0.79 </p>
    <p><strong>Qualifying Date:</strong> June 23, 2022 </p>
    <p><strong>Register Closure:</strong> June 24, 2022</p>
    <p><strong>Ex Dividend Date:</strong> June 21, 2022</p>
    <p><strong>Payment Date:</strong> July 22, 2022</p>
    <p><strong>AGM Date:</strong> None</p>

<!--<h6></h6><a href="/companies/07c57750-8e26-4b8d-b678-550705866930/dividend/"></a></h6>-->
    

    <h2>Dividend</h2>
    
        <p>ACCESS has never paid dividend</p>
    
    <p>Bar Chart for the last 5 financial year</p>

    <h2>Share Split</h2>
    
        <p>ACCESS has no share spilts</p>
    

    <h1>Listing Information</h1>
    
        <p><strong>Prospectus:</strong><a href="/media/prospectus/Access-Bank-Ghana-IPO-Prospectus-October-2016_2xRt8JR.pdf" target="_blank"> Prospectus  </a><i class="fas fa-download"></i></p>
        <p><strong>First Trading Date:</strong> Nov. 30, 2016 </p>
        <p><strong>IPO Share Price:</strong> GHS 4.00</p>
    

    <h1>Shareholders List</h1>
    <p>Largest 20 shareholders of Access Bank Ghana Plc</p>
    
        <table class="table table-bordered table-hover table-striped" width="40%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Shareholders</th>
                                                        <th>Number of Shares</th>
                                                        <th>Percentage Holding (%)</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Total</th>
                                                        <th> 173,947,596</th>
                                                        <th>100 (%)</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                
                                                    <tr>
                                                        <td>Access Bank Nigeria Plc</td>
                                                        <td>162,474,521</td>
                                                        <td>93.40</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Access Bank Ghana Plc Staﬀ RSPP</td>
                                                        <td>4,448,128</td>
                                                        <td>2.56</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Joseph Siaw Agyepong</td>
                                                        <td>1,500,000</td>
                                                        <td>0.86</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Daniel MC Korley</td>
                                                        <td>620,000</td>
                                                        <td>0.36</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Emmanuel Anatsui</td>
                                                        <td>600,000</td>
                                                        <td>0.34</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Nabil Moukazel</td>
                                                        <td>375,000</td>
                                                        <td>0.22</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Salma Okwonkwo</td>
                                                        <td>333,333</td>
                                                        <td>0.19</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Woodﬁelds Energy Resources Ltd</td>
                                                        <td>324,173</td>
                                                        <td>0.19</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Albert Mmegwa</td>
                                                        <td>300,029</td>
                                                        <td>0.17</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Wapic Insurance Ghana Ltd</td>
                                                        <td>278,981</td>
                                                        <td>0.16</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Lyndhurst Corporation</td>
                                                        <td>269,669</td>
                                                        <td>0.16</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Herbert Osei Baidoo</td>
                                                        <td>242,701</td>
                                                        <td>0.14</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Adobe Bank Limited</td>
                                                        <td>237,378</td>
                                                        <td>0.14</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Nana Asante Bediatuo</td>
                                                        <td>221,667</td>
                                                        <td>0.13</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>ZBGC/Cedar Pension Fund</td>
                                                        <td>151,300</td>
                                                        <td>0.09</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>ZBGC/Cedar Provident Fund</td>
                                                        <td>149,500</td>
                                                        <td>0.09</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Allied Investments</td>
                                                        <td>138,471</td>
                                                        <td>0.08</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Julius Kwasi Samuel Debrah</td>
                                                        <td>103,570</td>
                                                        <td>0.06</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>SCGN/SAS Fortune Fund</td>
                                                        <td>97,000</td>
                                                        <td>0.06</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>John Maynard Mawuli Ababio</td>
                                                        <td>58,269</td>
                                                        <td>0.03</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Others</td>
                                                        <td>1,023,906</td>
                                                        <td>0.59</td>
                                                    </tr>
                                                
                                                </tbody>
                                            </table>
    

    <h1>Technical Analysis</h1>

    <h3>Moving Averages (Days)</h3>
    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Period (Days)</th>
                                                                <th>Simple</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            <tr>
                                                                <th>5</th>
                                                                <td>4.00</td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>10</th>
                                                                <td>4.00</td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>20</th>
                                                                <td>4.00</td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>50</th>
                                                                <td>4.00</td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>100</th>
                                                                <td>4.00</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                      </table>

    <h3>Technical Indicators (Days)</h3>
    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Value</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            <tr>
                                                                <th>RSI(14)</th>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>MACD(12,26)</th>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>ATR(14)</th>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>CCI(14)</th>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>Highs/Lows(14)</th>
                                                                <td>4.00/4.00</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                      </table>


    <h1>Contact Information</h1>
    <p><strong>Telephone:</strong> +233-302-742-699</p>
    <p><strong>Email:</strong> info@ghana.accessbankplc.com</p>
    <p><strong>Website:</strong> www.ghanaaccessbankplc.com</p>

        <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    <script src="/static/js/added.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <script src="/static/vendor/apexcharts/apexcharts.min.js"></script>

<!--    <script src="/static/vendor/echarts/echarts.min.js"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

    <script src="/static/vendor/simple-datatables/simple-datatables.js"></script>


</body>
</html>