



<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>

    <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="/static/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
    <script src="/static/vendor/apexcharts/apexcharts.min.js"></script>

    <style>
    </style>
</head>
<body>
    <h1>Aluworks Limited Report as at <small>2023/05/05</small></h1>

    <div>
        <strong>GHS 0.10
            <small>
                
                
                <span style="font-weight: bold; color: blue"><i class="bx bxs-right-arrow-alt"></i>(0.00%)</span>
                
                
            </small>
        </strong>
    </div>

    <img src="./media/company/alw_jRRpdkm.png" alt="" height="100">

    <h1>Aluworks Limited Summary</h1>

    <h1>Profile</h1>
    <p>Aluworks Limited is an aluminum continuous casting and cold rolling mill located in Tema, Ghana. The company was incorporated as a private company limited by shares on February 24, 1978, and granted a certificate to commence business on March 22, 1978. Aluworks&#x27;s business is to produce and sell semi-finished flat-rolled sheet products for the building, construction, and household industries in Ghana and West Africa. The manufacturing company&#x27;s principal products include (colored, plain, mill-finished or stucco-embossed, roller or tension-leveled) aluminum sheets-in-coil, slit coils and flat sheets, aluminum discs, plus roll-formed or corrugated sheets, ridges and louver blades. Aluworks was converted to a public limited liability company at its 9th annual general meeting on May 28, 1996. After an IPO in October 1996, the company was listed on the Ghana Stock Exchange on November 29, 1996 at the price of GHS 0.135 per share.</p>

    <h1>Basic Info.</h1>
    <p><strong>Industry:</strong> <a href="/tag/Manufacturing">Manufacturing</a></p>
    <p><strong>Country:</strong> <a href="/international/country/Ghana">Ghana</a></p>
    <p><strong>Auditors:</strong> <a href="/auditor/3">Deloitte &amp; Touche</a></p>
    <p><strong>Secretary:</strong> Accra Nominees Limited</p>
    <p><strong>Registrar:</strong> Universal Merchant Bank</p>
    <p><strong>Registered Office:</strong> Plot No. 63/1 Heavy Industrial Area, Tema</p>
    <p><strong>Incorporate Date:</strong> Feb. 24, 1978</p>
    <p><strong>Employees:</strong> 0</p>

    <h1>Stock Price Summary</h1>
<p><strong>Previous Close: </strong>GHS 0.10</p>

                                            <p><strong>Volume:</strong> 190</p>
                                            <p><strong>Traded Value:</strong> GHS 19.00</p>
                                            <p><strong>Year Range:</strong> GHS 0.10 - GHS 0.10</p>
                                            <p><strong>Market Cap:</strong> GHS 23.67 million</p
                                            <p><strong>Shares Outstanding:</strong>  236,685,180</p>
<p><strong>Open:</strong> GHS 0.10</p>
                                            <p><strong>1-Yr Change:</strong>
                                                
                                                    <span class="change-up">GHS 0.00</span>
                                                
                                            </p>
                                            <p><strong>YTD(%):</strong>
                                                
                                                    
                                                        <span class="change-none">0.00</span>
                                                    
                                                
                                            </p>
                                            <p><strong>EPS:</strong>
                                                
                                                    
                                                        <span class="change-down">-0.3166</span>
                                                    
                                                
                                            </p>
                                            <p><strong>Beta: 0.04</strong>
                                            <p><strong>Div (Yield)(%): </strong>


    <h1>Financial Summary</h1>
    <h2>Income Statement</h2>
    <table class="table table-striped table-bordered table-hover">
                                                        <tr>
                                                            <th></th>
                                                            <th>GHS</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Revenue (million)</td>
                                                            <td class="value">33.44</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Revenue Per Share</td>
                                                            <td class="value">0.14</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Revenue Growth (%)</td>
                                                            <td class="value">-66.22</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Gross Profit (million)</td>
                                                            <td class="value">-24.75</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Net Income (million)</td>
                                                            <td class="value">-74.94</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Diluted EPS</td>
                                                            <td class="value">-0.32</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Earning Growth  (%)</td>
                                                            <td class="value">13.97</td>
                                                        </tr>
                                                    </table>

    <h2>Balance Sheet</h2>
    <table class="table table-striped table-bordered table-hover">
                                                        <tr>
                                                            <th></th>
                                                            <th>GHS</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Cash (million)</td>
                                                            <td class="value">0.09</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Cash Per Share</td>
                                                            <td class="value">0.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Debt (million)</td>
                                                            <td class="value">262.60</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Debt/ Equity</td>
                                                            <td class="value">-8.09</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Current Ratio</td>
                                                            <td class="value">0.23</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Book Value Per Share</td>
                                                            <td class="value">-0.14</td>
                                                        </tr>
                                                    </table>

    <h2>Cash Flow</h2>
    <table class="table table-striped table-bordered table-hover">
                                                        <tr>
                                                            <th></th>
                                                            <th>GHS</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Operating Cash Flow (million)</td>
                                                            <td class="value">0.47</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Levered Free Cash Flow (million)</td>
                                                            <td class="value">0.44</td>
                                                        </tr>
                                                    </table>

    <h2>Profitability</h2>
    <table class="table table-striped table-bordered table-hover">
                                                        <tr>
                                                            <th></th>
                                                            <th>%</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Profit Margin</td>
                                                            <td class="value">-2.24</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Operating Margin</td>
                                                            <td class="value">-2.24</td>
                                                        </tr>
                                                    </table>

    <h2>Valuations</h2>
    <table class="table table-striped table-bordered table-hover">
                                                        <tr>
                                                            <th></th>
                                                            <th>GHS</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Market Cap (million)</td>
                                                            <td>GHS 23.67</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Enterprise Value (million)</td>
                                                            <td class="value">GHS 23.58</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Trailing P/E </td>
                                                            <td class="value"> -0.32</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Price/Sales</td>
                                                            <td class="value">0.71</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Price/Book</td>
                                                            <td class="value">-0.73</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Enterprise Value/ Revenue</td>
                                                            <td class="value">0.70</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Enterprise Value/ EBITDA</td>
                                                            <td class="value">-0.95</td>
                                                        </tr>
                                                    </table>


    <h1>Major Products / Services</h1>
    
        <p title="Aluminium Products">Aluminium Products</p>
    


    <h1>Subsidiaries</h1>
    
        <p>No subsidiary added yet</p>
    

    <h1>Charts</h1>
    <h2>Share Price</h2>
    <div id="price_chart"></div>


                                                      <script>
                                                        const latest_trading_day = 'May 5, 2023';


                                                        const one_month = 'April 7, 2023';


                                                        const six_month = 'Nov. 4, 2022';


                                                        const one_year = 'May 6, 2022';

                                                        const share_price_first = 'Dec. 31, 2010';

                                                        const dates = [ Date.parse('May 5, 2023'), Date.parse('May 4, 2023'), Date.parse('May 3, 2023'), Date.parse('May 2, 2023'), Date.parse('April 28, 2023'), Date.parse('April 27, 2023'), Date.parse('April 26, 2023'), Date.parse('April 25, 2023'), Date.parse('April 21, 2023'), Date.parse('April 20, 2023'), Date.parse('April 19, 2023'), Date.parse('April 18, 2023'), Date.parse('April 17, 2023'), Date.parse('April 14, 2023'), Date.parse('April 13, 2023'), Date.parse('April 12, 2023'), Date.parse('April 11, 2023'),]


                                                        const prices = [ 0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10, ]

                                                        var data = dates.map(function(e, i){
                                                            return [e, prices[i]];
                                                        });

                                                        const series = {
                                                            "dataSeries": {
                                                              "dates": [ 'Fri May, 2023',  'Thu May, 2023',  'Wed May, 2023',  'Tue May, 2023',  'Fri Apr, 2023',  'Thu Apr, 2023',  'Wed Apr, 2023',  'Tue Apr, 2023',  'Fri Apr, 2023',  'Thu Apr, 2023',  'Wed Apr, 2023',  'Tue Apr, 2023',  'Mon Apr, 2023',  'Fri Apr, 2023',  'Thu Apr, 2023',  'Wed Apr, 2023',  'Tue Apr, 2023', ],
                                                              "prices": [ 0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10,  0.10, ]
                                                            }
                                                          }

                                                          var options = {
                                                          series: [{
                                                          name: "Share Price",
                                                          data: data
                                                        }],
                                                          chart: {
                                                          id: 'area-datetime',
                                                          type: 'area',
                                                          height: 350,
                                                          zoom: {
                                                            autoScaleYaxis: true
                                                          }
                                                        },
                                                        annotations: {
                                                          yaxis: [{
                                                            y: 30,
                                                            borderColor: '#999',
                                                            label: {
                                                              show: true,
                                                              style: {
                                                                color: "#fff",
                                                                background: '#00E396'
                                                              }
                                                            }
                                                          }],
                                                          xaxis: [{
                                                            x: new Date('Dec. 31, 2010').getTime(),
                                                            borderColor: '#999',
                                                            yAxisIndex: 0,
                                                            label: {
                                                              show: true,
                                                              style: {
                                                                color: "#fff",
                                                                background: '#775DD0'
                                                              }
                                                            }
                                                          }]
                                                        },
                                                        dataLabels: {
                                                          enabled: false
                                                        },
                                                        markers: {
                                                          size: 0,
                                                          style: 'hollow',
                                                        },
                                                        xaxis: {
                                                          type: 'datetime',
                                                          min: new Date('Dec. 31, 2010').getTime(),
                                                          tickAmount: 6,
                                                        },
                                                        tooltip: {
                                                          x: {
                                                            format: 'dd MMM yyyy',
                                                          }
                                                        },
                                                        fill: {
                                                          type: 'gradient',
                                                          gradient: {
                                                            shadeIntensity: 1,
                                                            opacityFrom: 0.7,
                                                            opacityTo: 0.9,
                                                            stops: [0, 100]
                                                          }
                                                        },
                                                        };

                                                        var price_chart = new ApexCharts(document.querySelector("#price_chart"), options);
                                                        price_chart.render();

                                                        var resetCssClasses = function(activeEl) {
                                                            var els = document.querySelectorAll('button')
                                                            Array.prototype.forEach.call(els, function(el) {
                                                              el.classList.remove('active')
                                                            })

                                                            activeEl.target.classList.add('active')
                                                          }

                                                          document.querySelector('#one_month').addEventListener('click', function(e) {
                                                              resetCssClasses(e)

                                                              price_chart.zoomX(
                                                                new Date(one_month).getTime(),
                                                                new Date(latest_trading_day).getTime()
                                                              )
                                                            })

                                                          document.querySelector('#six_months').addEventListener('click', function(e) {
                                                              resetCssClasses(e)

                                                              price_chart.zoomX(
                                                                new Date(six_month).getTime(),
                                                                new Date(latest_trading_day).getTime()
                                                              )
                                                            })

                                                          document.querySelector('#one_year').addEventListener('click', function(e) {
                                                              resetCssClasses(e)
                                                              price_chart.zoomX(
                                                                new Date(one_year).getTime(),
                                                                new Date(latest_trading_day).getTime()
                                                              )
                                                            })

                                                          document.querySelector('#ytd').addEventListener('click', function(e) {
                                                            resetCssClasses(e)

                                                            price_chart.zoomX(
                                                              new Date('2023-01-01').getTime(),
                                                              new Date(latest_trading_day).getTime()
                                                            )
                                                          })

                                                          document.querySelector('#all').addEventListener('click', function(e) {
                                                            resetCssClasses(e)

                                                            price_chart.zoomX(
                                                              new Date(share_price_first).getTime(),
                                                              new Date().getTime(),
                                                            )
                                                          });
                                                      </script>
                                                        <!-- End Area Chart -->

    <h2>Bar Chart</h2>
    <p>Share Price Candle for 5 years</p>

    <h2>Radar Chart</h2>
    <div id="radar"></div>
                                                        <script>
                                                            var options = {
                                                                  series: [{
                                                                  name: 'Net Income (Loss)',
                                                                  data: [ -65.755,  -74.943, ],
                                                                }, {
                                                                  name: 'Operating Cash Flow',
                                                                  data: [ -26.944,  0.473, ],
                                                                }, {
                                                                  name: 'Revenue',
                                                                  data: [ 99.011,  33.441, ],
                                                                }],
                                                                  chart: {
                                                                  height: 350,
                                                                  type: 'radar',
                                                                  dropShadow: {
                                                                    enabled: true,
                                                                    blur: 1,
                                                                    left: 1,
                                                                    top: 1
                                                                  }
                                                                },
                                                                title: {
                                                                  text: 'Radar Chart - Financial Statement Summary'
                                                                },
                                                                stroke: {
                                                                  width: 2
                                                                },
                                                                fill: {
                                                                  opacity: 0.1
                                                                },
                                                                markers: {
                                                                  size: 0
                                                                },
                                                                xaxis: {
                                                                  categories: [ 2021,  2022, ]
                                                                }
                                                                };

                                                                var chart = new ApexCharts(document.querySelector("#radar"), options);
                                                                chart.render();
                                                        </script>


    <h1>Key People</h1>
        
            <p>Chairman - Professor Lade Wosornu  </p>
    
            <p>CEO - Ernest Kwasi Okoh  </p>
    
            <p>Member - Togbe Afede XIV  </p>
    
            <p>Member - Professor Yaw Adu-Gyamfi  </p>
    
            <p>Member - Dr. Alhassan Mutaka Alolo  </p>
    
            <p>Member - Ralph Rossouw  </p>
    
            <p>Member - Kingsley Ofosu Obeng  </p>
    


    <h1>Stock Price History for the past month</h1>
    <table class="table table-bordered table-striped table-hover" id="dataTable" width="70%" cellspacing="0">
        <thead>
        <tr>
            <th>Date</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Traded Value</th>
        </tr>
        </thead>
        <tbody>
        
        <tr>
            <td>2023/05/05</td>
            <td>0.10</td>
            <td>190</td>
            <td>19.00</td>
        </tr>
        
        <tr>
            <td>2023/05/04</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/05/03</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/05/02</td>
            <td>0.10</td>
            <td>42</td>
            <td>4.20</td>
        </tr>
        
        <tr>
            <td>2023/04/28</td>
            <td>0.10</td>
            <td>1556</td>
            <td>155.60</td>
        </tr>
        
        <tr>
            <td>2023/04/27</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/26</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/25</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/21</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/20</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/19</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/18</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/17</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/14</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/13</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/12</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        <tr>
            <td>2023/04/11</td>
            <td>0.10</td>
            <td>0</td>
            <td>0.00</td>
        </tr>
        
        </tbody>
    </table>

    <h1>Share Listing Details</h1>
    
        <p><strong>Issued Shares:</strong> 236,685,180</p>
        
         <p><strong>Listed Date:</strong> Nov. 29, 1996</p> 
         <p><strong>Financial Year Ends:</strong> 31st December</p> 
    

    <h1>Latest Dividend</h1>
    
    <p><strong>ALW is yet to pay dividend</strong></p>
    

    <h2>Dividend</h2>
    
        <p>ALW has never paid dividend</p>
    
    <p>Bar Chart for the last 5 financial year</p>

    <h2>Share Split</h2>
    
        <p>ALW has no share spilts</p>
    

    <h1>Listing Information</h1>
    
        <p><strong>Prospectus:</strong><a href="/media/prospectus/Aluworks-Placement-Document-1996_rGsezA7.pdf" target="_blank"> Prospectus  </a><i class="fas fa-download"></i></p>
        <p><strong>First Trading Date:</strong> Sept. 30, 1996 </p>
        <p><strong>IPO Share Price:</strong> GHS 0.14</p>
    

    <h1>Shareholders List</h1>
    <p>Largest 20 shareholders of Aluworks Limited</p>
    
        <table class="table table-bordered table-hover table-striped" width="40%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Shareholders</th>
                                                        <th>Number of Shares</th>
                                                        <th>Percentage Holding (%)</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Total</th>
                                                        <th> 236,685,180</th>
                                                        <th>100 (%)</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                
                                                    <tr>
                                                        <td>Social Security &amp; National Insurance Trust</td>
                                                        <td>148,219,086</td>
                                                        <td>62.62</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Caitlyn Limited</td>
                                                        <td>51,739,054</td>
                                                        <td>21.85</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Professor Wosornu Lade</td>
                                                        <td>7,432,069</td>
                                                        <td>3.14</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>SCBN/SSB Eaton Vance Tax-Managed Emerg Mkts</td>
                                                        <td>5,176,100</td>
                                                        <td>2.19</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Strategic Initiatives Limited</td>
                                                        <td>4,170,540</td>
                                                        <td>1.76</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Mr. Ken Kobina Dela Alor</td>
                                                        <td>2,527,934</td>
                                                        <td>1.07</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Mr. Colin M. Waugh</td>
                                                        <td>1,464,668</td>
                                                        <td>0.62</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Mr. Adu-Gyamfi Yaw</td>
                                                        <td>827,925</td>
                                                        <td>0.35</td>
                                                    </tr>
                                                
                                                    <tr>
                                                        <td>Mrs. Elizabeth Arthur</td>
                                                        <td>820,000</td>
                                                        <td>0.32</td>
                                                    </tr>
                                                
                                                </tbody>
                                            </table>
    

    <h1>Technical Analysis</h1>

    <h3>Moving Averages (Days)</h3>
    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Period (Days)</th>
                                                                <th>Simple</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            <tr>
                                                                <th>5</th>
                                                                <td>0.10</td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>10</th>
                                                                <td>0.10</td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>20</th>
                                                                <td>0.10</td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>50</th>
                                                                <td>0.10</td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>100</th>
                                                                <td>0.10</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                      </table>

    <h3>Technical Indicators (Days)</h3>
    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Value</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                          <tbody>
                                                            <tr>
                                                                <th>RSI(14)</th>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>MACD(12,26)</th>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>ATR(14)</th>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>CCI(14)</th>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                          <tr>
                                                                <th>Highs/Lows(14)</th>
                                                                <td>0.10/0.10</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                      </table>


    <h1>Contact Information</h1>
    <p><strong>Telephone:</strong> +233-302-951-206</p>
    <p><strong>Email:</strong> None</p>
    <p><strong>Website:</strong> www.aluworks.com</p>

        <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    <script src="/static/js/added.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <script src="/static/vendor/apexcharts/apexcharts.min.js"></script>

<!--    <script src="/static/vendor/echarts/echarts.min.js"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

    <script src="/static/vendor/simple-datatables/simple-datatables.js"></script>


</body>
</html>